form {
	display: block;
	position: relative;
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.625;
	padding: 16px;
	max-width: 80vw;
	margin: 0 auto;
	@include mobil-max {
		max-width: 95vw;
	}

	label {
		color: hsl(0deg 0.69% 71.57%);
		margin: 0px 5px 10px 0px;
		cursor: pointer;
	}
	.form-control {
		border-width: 0px;
		border-bottom: 2px solid hsl(0deg 0.5% 60.59%);
		background-color: hsl(0, 0%, 35%);
		color: hsl(0, 7%, 92%);
		padding-bottom: 2px;
		&:focus {
			box-shadow:
				inset 0 1px 1px hsla(0, 0%, 0%, 0.075),
				0 0 6px hsl(231, 70%, 74%);
		}
		&:focus-visible {
			background-color: hsl(231, 100%, 89%);
		}
		&:hover {
			box-shadow:
				inset 0 1px 1px hsla(51, 80%, 58%, 0.363),
				0 0 6px hsl(231, 11%, 69%);
			background-color: hsla(231, 25%, 57%, 0.729) !important;
		}
	}
	input[type='file'] {
		&::file-selector-button {
			background-color: hsl(231, 69%, 76%);
			content: 'Choise image';
			&:hover {
				background-color: hsl(232, 79%, 85%);
			}
		}
	}

	.title {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		& > div {
			&:first-child {
				flex: 1;
				margin-right: 10px;
			}
		}
	}
	&__title {
		margin-bottom: 10px;
	}
	.options {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		&.left {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
		}
		&__image {
			flex: 1;
			margin-right: 10px;
		}
		&__duree {
			margin-right: 10px;
			input {
				width: 130px;
				text-align: right;
			}
		}
		&__color {
			& > div {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: flex-start;
			}
			&--decimal {
				width: 100px;
				margin-right: 10px;
			}
			&--choice {
				width: 40px;
				height: 40px;
				border-width: 0;
				cursor: pointer;
			}
		}
	}

	.quizz__title,
	.question {
		position: relative;
		border: 1px solid hsl(230.63deg 65.96% 68.05%);
		box-shadow: 3px 2px 3px hsl(231deg 44.16% 65.01%);
		background: #7f7f7f4d;
		padding: 15px 15px 50px 15px;
		margin-bottom: 20px;

		& > div:first-child {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			input {
				margin-right: 10px;
			}
		}
		&__plus {
			position: absolute;
			right: 11px;
			bottom: 14px;
		}
	}

	.response {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: nowrap;

		& > div {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;
			flex-wrap: nowrap;
			justify-content: flex-end;
			*:not(.switch-field label):not(.fa) {
				margin-right: 10px;
			}
			&:last-child {
				margin-top: 5px;
			}
		}
		.score {
			width: 65px;
			text-align: center;
			padding: 4px 1px;
		}
		&__plus {
			right: 9px;
			position: absolute;
			bottom: 9px;
		}
	}
	.add {
		&__img {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 25px;
			img {
				flex: 1;
				margin: 0 auto;
				max-width: 200px;
				max-height: 200px;
				min-width: 50px;
				min-height: 50px;
				aspect-ratio: auto;
				background-color: #8d8d8d94;
				border-radius: 5px;
				box-shadow: 3px 2px 5px 1px #a7888896;
			}
		}
	}
}

.error {
	color: #e58585;
	font-weight: bold;
	text-shadow: 0 0 3px #fd0000;
	margin: 10px 0;
}
